@import url("https://fonts.googleapis.com/css2?family=Economica&display=swap");
.recipeMainDiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 30px 10px;
  background-color: rgb(199, 199, 199);
}
.recipeMainDiv h1 {
  width: 100%;
  text-align: center;
}
.recipesViewAll {
  width: 100%;
  text-align: center;
  padding: 50px;
  text-decoration: underline;
  cursor: pointer;
}
.recipeContainer {
  width: 100%;
  flex-wrap: wrap;
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.recipeCard {
  margin: 0;
  padding: 0;
  transition: 0.3s;
}
.recipeCard:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.3s;
}
.recipeCard .card {
  width: 280px;
  height: fit-content;

  background-color: rgb(33, 37, 37);
}
.recipeCard .card .top {
  width: 100%;
  height: 60%;

  object-fit: cover;
}
.recipeCard .card .top p {
}
.recipeCard .card .top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recipeCard .card .info {
  height: 40%;
  display: flex;
  flex-direction: column;
}
.recipeCard .card .info .name {
  background-color: rgb(76, 88, 78);
  padding: 10px 0px;
  color: rgb(214, 214, 214);
  font-family: "Economica", sans-serif;
}
.recipeCard .card .info .name p {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 10px;
}
.recipeCard .card .info .about {
  padding: 15px;
}
.recipeCard .card .info .about span {
  color: rgb(241, 192, 127);
}
.recipeCard .card .info .about p {
  border-bottom: 1px dotted grey;
  color: beige;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
