@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10%;
  background-color: #24252a;
}
.logo {
  color: #edf0f1;
  font-size: 4rem !important;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links li a {
  transition: 0.3s ease;
}
.nav-links li :hover {
  color: rgb(89, 179, 104);
}
button {
  color: crimson;
}
@media only screen and (max-width: 768px) {
  li,
  a {
    font-size: 12px;
  }
}
